.auth-main {
    background-color: gray;
    height: 100%;
}

.auth-body {
    width: 33%;
    margin: 0 auto;
    background-color: #fff;
    padding: 5% 0;
}

.auth-body-name,
.auth-body-mail,
.auth-body-password {
    width: 50%;
    margin: 0 auto;
}

input[id*="auth-body__your"] {
    display: block;
    background-color: gray;
    width: 100%;
    color: #fff;
}

.auth-body-button {
    display: block;
    margin: 5% auto;
}