.header__inner {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 32px;
}

.header-nav__button {
    position: absolute;
    bottom: 0;
    right: 0;
}

h2[class*="-title"] {
    margin: 0 auto;
    /* background-color: gray; */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

section[class*="-body-form"] {
    width: 70%;
    margin: 0 auto;
}