article[class*="-main"] {
    width: 50%;
    margin: 0 auto;
}

dt,
dd {
    border: 1px solid gray;
}

dl.confirm-body-form {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

dt[class^="confirm-body"] {
    width: 30%;
    color: #fff;
    background-color: gray;
}

dd[class^="confirm-body"] {
    width: 70%;
    margin-left: 0;
}

.confirm-body__buttons {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}